main {
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(http://s3.amazonaws.com/everystockphoto/fspid31/31/20/26/1/tileable-classic-nebula-3120261-o.jpg);
}