article {
  position: relative;
  width: 150px;
  min-height: 200px;
  padding: 5px 10px 10px 10px;
  border: 2px solid lightblue;
  border-radius: 10px;
  margin: 10px;
  text-align: left;
}

h2 {
  display: inline-block;
  margin: 8px 0 8px 3px;
  color: lightsalmon;
  font-size: 0.8em;
  text-decoration: underline;
  letter-spacing: 1px;
}

img {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 25px;
  cursor: pointer;
}

.dataKey {
  margin: 0;
  color: lightcoral;
  font-size: 0.8em;
}

span {
  color: #fff;
}
