.Card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pretext {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80vh;
  font-size: 2em;
}
