.crawl-container {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 82vh;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 8em;
  font-weight: 600;
  letter-spacing: 6px;
  perspective: 200px;
}

.crawl-content {
  position: relative;
  top: -1000px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
  visibility: hidden;
}

.pretext {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80vh;
  font-size: 2em;
}

@keyframes crawl {
  0% {
    top: 1000px;
    transform: rotateX(20deg) translateZ(0);
    visibility: visible;
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2000px);
  }
}
